@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h1 {
  font-size: 2.75em;
}

span {
  font-size: 2.25em;
  font-weight: 600;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: 
  /* top, transparent black */ 
  linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ),
  /* bottom, image */
  url(fireworks.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title__container {
  margin-bottom: 1.5em;
}

.countdown__timer__container {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.num__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}